[Desktop Entry]
Encoding=UTF-8
Name=ReTerminal
Comment=IconTest Link
Exec=/home/pi/Seeed_Python_ReTerminalQt5Examples/src/r2_start.sh
Icon=/home/pi/Seeed_Python_ReTerminalQt5Examples/assets/icon.png
Terminal=true
#StartupNotify=true
Type=Application
Categories=Application;Development;
